@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

/* MAIN - about - часть об учебном проекте */

.page__about {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
  background-color: #073042;
}

@media screen and (max-width:1023px) {
  .page__about {
    flex-direction: column;
    align-items: center;
    padding: 140px 0 76px;
  }
}

@media screen and (max-width:767px) {
  .page__about {
    padding: 70px 0 32px;
  }
}

.about__container {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  width: calc(640/1280*100%);
}

@media screen and (max-width:1023px) {
  .about__container {
    margin-left: 0;
    align-items: center;
    width: calc(680/768*100%);
  }
}

@media screen and (max-width:767px) {
  .about__container {
    width: calc(300/320*100%);
  }
}

.about__title {
  color: #FFFFFF;
  margin: 0 0 36px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

@media screen and (max-width:1023px) {
  .about__title {
    text-align: center;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width:767px) {
  .about__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }
}

.about__subtitle {
  color: rgba(255, 255, 255, .5);
  margin: 0;
  margin-bottom: 146px;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
}

@media screen and (max-width:1023px) {
  .about__subtitle {
    margin-bottom: 92px;
    max-width: 260px;
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .about__subtitle {
    margin-bottom: 80px;
  }
}

.about__link {
  display: block;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 129px;
  min-height: 36px;
  padding-top: 10px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .about__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.about__link:hover {
  opacity: .5;
  transition: 1s linear 0.5s;
}

.about__main-illustration {
  height: 304px;
  width: 310px;
  z-index: 1;
  position: absolute;
  top: 149px;
  left: 865px;
  object-fit: cover;
}

.about__decorate {
  height: 304px;
  width: 310px;
  margin-right: 70px;
  background-size: cover;
}

@media screen and (max-width:1023px) {
  .about__decorate {
    margin-right: 0;
    margin-bottom: 48px;
    order: -1;
  }
}

@media screen and (max-width:767px) {
  .about__decorate {
    height: calc(206px + (304 - 206)*((100vw - 320px)/(768 - 320)));
    width: calc(210px + (310 - 210)*((100vw - 320px)/(768 - 320)));
    margin-bottom: 44px;
  }
}

/* MAIN - about - часть о проекте */

