@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

/* MAIN - about - часть об учебном проекте */

.page__about {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
  background-color: #073042;
}

@media screen and (max-width:1023px) {
  .page__about {
    flex-direction: column;
    align-items: center;
    padding: 140px 0 76px;
  }
}

@media screen and (max-width:767px) {
  .page__about {
    padding: 70px 0 32px;
  }
}

.about__container {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  width: calc(640/1280*100%);
}

@media screen and (max-width:1023px) {
  .about__container {
    margin-left: 0;
    align-items: center;
    width: calc(680/768*100%);
  }
}

@media screen and (max-width:767px) {
  .about__container {
    width: calc(300/320*100%);
  }
}

.about__title {
  color: #FFFFFF;
  margin: 0 0 36px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

@media screen and (max-width:1023px) {
  .about__title {
    text-align: center;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width:767px) {
  .about__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }
}

.about__subtitle {
  color: rgba(255, 255, 255, .5);
  margin: 0;
  margin-bottom: 146px;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
}

@media screen and (max-width:1023px) {
  .about__subtitle {
    margin-bottom: 92px;
    max-width: 260px;
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .about__subtitle {
    margin-bottom: 80px;
  }
}

.about__link {
  display: block;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 129px;
  min-height: 36px;
  padding-top: 3px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .about__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.about__link:hover {
  opacity: .5;
  transition: 1s linear 0.5s;
}

.about__main-illustration {
  height: 304px;
  width: 310px;
  z-index: 1;
  position: absolute;
  top: 149px;
  left: 900px;
  object-fit: cover;
}

@media screen and (max-width:1023px) {
  .about__main-illustration {
    margin-right: 0;
    margin-bottom: 48px;
    order: -1;
  }
}

@media screen and (max-width:767px) {
  .about__main-illustration {
    height: calc(206px + (304 - 206)*((100vw - 320px)/(768 - 320)));
    width: calc(210px + (310 - 210)*((100vw - 320px)/(768 - 320)));
    margin-bottom: 44px;
  }
}

/* MAIN - about - часть о проекте */

.page__project {
  padding: 110px 70px;
}

@media screen and (max-width: 1023px) {
  .page__project {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .page__project {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.project__title {
  margin: 0 auto;
  margin-bottom: 70px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DADADA;
  max-width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .project__title {
    padding-bottom: 29px;
    margin-bottom: 60px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.project__container {
  margin: 0 auto;
  margin-bottom: 110px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  column-gap: 40px;
  row-gap: 26px;
}

@media screen and (max-width: 1023px) {
  .project__container {
    margin-bottom: 93px;
    column-gap: 30px;
    row-gap: 22px;
  }
}

@media screen and (max-width: 767px) {
  .project__container {
    margin-bottom: 62px;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.project__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .project__subtitle {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .project__subtitle:last-of-type {
    grid-column: 1;
    grid-row: 3;
  }
}

.project__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .project__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .project__description {
    font-size: 11px;
    line-height: 16px;
  }
  .project__description:first-of-type {
    margin-bottom: 42px;
  }
}

.project__time-line {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: calc(228/1140*100%) 1fr;
  row-gap: 14px;
}

@media screen and (max-width: 1023px) {
  .project__time-line {
    grid-template-columns: calc(140/668*100%) 1fr;
  }
}

@media screen and (max-width: 767px) {
  .project__time-line {
    grid-template-columns: calc(100/284*100%) 1fr;
    row-gap: 10px;
  }
}

.project__progress {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .project__progress {
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 11px;
  }
}

.project__progress_backend {
  background-color: #3DDC84;
  color: #000000;
}

.project__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 767px) {
  .project__text {
    font-size: 11px;
    line-height: normal;
  }
}




