.login__button {
    padding: 0;
    border: none;
    margin: 0px;
    width: 100%;
    min-height: 50px;
    background: #4285F4;
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    }
    
    @media (hover: hover) and (pointer: fine) {
      .login__button:hover {
        background-color: rgba(225, 225, 225, 0.85);
        cursor: pointer;
      }
    }
    
    .login__button_disable {
      color: var(--dark-color);
      border: 1px solid var(--dark-color);
      opacity: .5;
      cursor: none;
      pointer-events: none;
    }

    .login__error {
        display: block;
        color: #FF0000;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        min-height: 29.04px;
      }
      
      .login__error:last-of-type {
        margin-bottom: 1px;
      }
      
      @media screen and (max-width:550px) {
        .login__error:last-of-type {
          margin-bottom: 1px;
        }
      }


      .login__input {
        width: 100%;
        padding: 0 0 13px 0;
        margin: 0;
        border: none;
        border-bottom: 2px solid #CCCCCC;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        outline: none;
        color: #ffffff;
        box-sizing: border-box;
    
        background: none;
    
      }
      
      .login__input_invalid {
        border-bottom: 2px solid #FF0000;
        color: #FF0000;
      }
    
    
      .login_container{
        background: #11ffee00;
      }


      .login__subtitle {
        margin: 15px 0 0 0;
        text-align: center;
        color: var(--main-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
      }
      
      .login__subtitle-link {
        text-decoration: none;
        color: #4285F4;
      }

      .login__title {
        min-height: 28px;
        margin: 0 0 50px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29.05px;
        max-width: 330px;
        color: white;
      }
      
      @media screen and (max-width: 550px) {
        .login__title {
          margin-bottom: 40px;
        }
      }